*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: white;
}

body{

    background-color: darkcyan;
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    background-color:rgb(5, 88, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    }
    .header img{
    width: 40px ;
    height: 40px;
    }
    .menu a{
      padding: 10px 20px;
      color: white;
      transition: .5s;
      margin: 0  10px;
    }
    .logo{
        margin-left:20px;
    }
    .logo a{
      display: flex;
      align-items: center;
      font-weight: 500;
      color: white;
      transition: 0.5s;
      flex-wrap: nowrap;
      padding: 8px 20px;
     
      
    }
    .logo a:hover{
      padding: 8px 20px;
      animation: demo1 0.5s  ease-in-out 
    
    }
    a.active{
      color: black;
    }
    a.active:hover{
      color: white;
    
    }.menu{
        margin-right: 20px;
    }
    .menu a{
        font-weight: bolder;
    }
    .menu a:hover{
      color: black;
     
      color: white;
      padding: 8px 20px;
      animation: demo1 0.5s  ease-in-out  
    
    }
    .twosection{
      width: 100%;
   margin-bottom: 20px;
    height: 89.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    }
    .section{
      width: 100%;
      height: 88vh;
      box-shadow: 1.5px 1.5px 3px 1px darkgray,-1.5px -1.5px 3px 1px darkgray;
      display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     background-color: darkcyan;
      overflow: auto;
     
    }
  
    .genraldiv{
      border-radius: 5px;
      background-color: rgb(5, 88, 88);
      box-shadow: 0.5px 0.5px 3px 0.8px whitesmoke,-0.5px -0.5px 3px 0.8px whitesmoke;
      width: 30%;
      height: 43vh;
      display: flex;
      flex-wrap: nowrap;
     margin: 15px 0px;
      justify-items: center;
      flex-direction: column;
    }
    .genraldiv  img{
      width: 100%;
      height: 30vh;
      border-bottom: 1px solid whitesmoke;
      margin-bottom: 5px;
      
    }
   .genraldiv h5{
      text-align: center;
      margin: 6px 6px;
    }
    .genraldiv a{
   text-align: center;
   color: white;
   text-decoration:underline;
   
    }
    .genraldiv a:hover{
    animation: demo1 0.5s  ease-in-out  
    }
    .subject_txt{
      width: 100%;
      
      
      position: sticky;
      top: 0px;
      padding: 10px;
      text-align: center;
      box-shadow: 0px 1px 1px 1px whitesmoke;
      background-color:rgb(5, 88, 88);
     
      
    }
    .section p{
      padding: 0px 20px ;
      color:white;
     
      font-weight: bold;
      margin-top: 0;
      line-height: 1.5rem;
    }
 
@keyframes demo1 {
    from{
      background-color: antiquewhite;
    }
    to{
      color: blue;
    }
    
  }
  @media screen and (max-width:920px){
    .header{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .menu a{
      margin-right: 20px;
      color: white;
     
    }
    .twosection{
      width: 100%;
      margin-bottom: 5px;
      height: 100%;
       display: flex;
       flex-direction: column;
       overflow-y: auto;
       }
       .section1{
        width: 100%;
        height: 100%;
        box-shadow: 1.5px 1.5px 3px 1px darkgray,-1.5px -1.5px 3px 1px darkgray;
        display: flex;
        overflow-y: auto;
       }
    .genraldiv{
      border-radius: 5px;
      height: 100%;
      box-shadow: 0.5px 0.5px 3px 0.8px whitesmoke,-0.5px -0.5px 3px 0.8px whitesmoke;
      width: 100%;
      justify-items: center;
    }
  }
  @media screen and (max-width:500px){
    .twosection{
      width: 100%;
      height: 100%;
       display: flex;
       flex-direction: column;
       overflow-y: auto;
       }
       .genraldiv{
        border-radius: 5px;
        height: 80%;
        box-shadow: 0.5px 0.5px 3px 0.8px whitesmoke,-0.5px -0.5px 3px 0.8px whitesmoke;
        width: 100%;
        justify-items: center;
       }
  }